<!DOCTYPE html>
<html lang="en">
<head>
  <title>Geo-places</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

  <div class="container-fluid">

    <div id="navbar" class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div id="user_nav">
          <% if user_signed_in? %>
            Signed in as <%= current_user.email %>. Not you?
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
          <% end %>
        </div>
        <a class="brand" href="/">Geo-Places</a>
        <ul class="nav">
          <li class="<%= active_for('new') %>"><%= link_to "Home", locations_path %></li>
          <li class="<%= active_for('index') %>"><%= link_to "Stored Locations", locations_path %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to "Source Code", "https://github.com/sjalal/geolocation", target: 'blank' %></li>
        </ul>
      </div>
    </div>

    <a href="https://github.com/sjalal/geolocation">
      <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub">
    </a>
    <div class="row-fluid">
      <div class='flash'>
        <%= bootstap_flash %>
      </div>
      <%= yield %>
    </div>
  </div>

</body>
</html>
